apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      containers:
      - name: manager
        imagePullPolicy: IfNotPresent
        args:
        - "--health-probe-bind-address=:8081"
        - "--metrics-bind-address=127.0.0.1:8080"
        - "--leader-elect"
        - "--webhook-enabled=true"
        - "--configurator-base-image=localhost/redpanda-operator"
        - "--configurator-tag=dev"
        - "--configurator-image-pull-policy=Never"
        - "--superusers-prefix=__redpanda_system__"
        - "--log-level=trace"
        - "--unsafe-decommission-failed-brokers=true"
        - "--unbind-pvcs-after=5s"
        livenessProbe:
          timeoutSeconds: 10
        readinessProbe:
          timeoutSeconds: 10
