# Executables
*.exe
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.app
/*build*
!.buildkite
/dbuild
bin
_e2e_artifacts/
_e2e_unstable_artifacts/
_helm_e2e_artifacts/
/src/go/k8s/testbin/*
/src/go/k8s/cm-verifier
/src/go/k8s/*.tar.gz
/src/go/k8s/*-exit-code
/src/go/k8s/kubeconfig
/src/go/k8s/tests/_e2e_artifacts_v2/
*.idea

.DS_Store

# vim
.*.sw?
