go 1.25.11

use (
	./acceptance
	./alias
	./charts/connectors
	./charts/console
	./charts/redpanda
	./gen
	./gotohelm
	./gotohelm/testdata/src/example
	./harpoon
	./licensereport
	./licenseupdater
	./operator
	./pkg
)
