go 1.24.3

use (
	./acceptance
	./alias
	./charts/connectors
	./charts/console
	./charts/redpanda
	./gen
	./gotohelm
	./gotohelm/testdata/src/example
	./harpoon
	./licenseupdater
	./operator
	./pkg
)

replace pgregory.net/rapid => github.com/chrisseto/rapid v0.0.0-20250521184210-5cd1ae592754
