{{- $root := . }}
{{- range $path, $_ :=  .Files.Glob  "**.yaml" }}
---
apiVersion: kuttl.dev/v1beta1
kind: TestStep
delete:
  - apiVersion: cluster.redpanda.com/v1alpha1
    kind: Redpanda
    name: redpanda-{{ substr 0 2 (base $path) }}
  - apiVersion: batch/v1
    kind: Job
  - apiVersion: v1
    kind: PersistentVolumeClaim
{{- end }}